server
{
    # default server
    listen 80 default_server;
    # ipv6
    listen [::]:80 default_server ipv6only=on;

    # redirect all http request to https
    return 301 https://$host$request_uri;

    # deny ip access
    # return 403;
}

# ssl server
server
{
    listen 443 default_server ssl;
    listen [::]:443 default_server ssl ipv6only=on;

    # ssl certificate(certbot with let's encrypt). See https://certbot.eff.org
    ssl_certificate /path/to/fullchain.pem;
    ssl_certificate_key /path/to/privkey.pem;

    add_header Strict-Transport-Security "max-age=31536000; includeSubDomains";

    # deny ip access
    return 403;
}